@font-face {
    font-family:Rounded;
    font-weight: 200;
    font-style: normal;
    src: url('../font/Arial Rounded Bold.ttf');
    src: url('../font/Arial Rounded Bold.ttf') format('embedded-opentype'), url('../font/Arial Rounded Bold.ttf') format('woff2'), url('../font/Arial Rounded Bold.ttf') format('woff'), url('../font/Arial Rounded Bold.ttf') format('truetype');
}
body{font-family: Rounded;}
.container{width: 95% !important;max-width: 95%;}
.row{margin: 0%;width: 100%}
.title-e ul {padding: 0% !important;}
.title-e li {display: inline; margin-top:1%;}
.title-e a {color: #000;}
.title-e .home::before {content: "";}
.title-e li::before {content: "/";color: #000;letter-spacing: .4px;
	font-size: 17px;margin-left: 5px;padding-right: 5px;font-weight: 400 !important;
}
/*** start nav ***/

.sidebar {
	height: 100%;
	width:0;
	position: fixed;
	z-index: 1111;
	top: 0;
	left: 0;
	background-color:rgba(117, 22, 73,0.9);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 6vw;
	color: #fff;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  .openbtn {
	font-size: 40px;
	cursor: pointer;
	background-color:transparent;
	color: #fff;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color:transparent;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
	margin-top:-13%;
	position: absolute;
	z-index: 111111;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  }
/* .scrolled { background: rgba(255, 123, 180, 0.7) !important; height: 60px;}
.scrolled img{width: 50% !important} */
header {position: absolute;z-index: 11;width: 100%;background:transparent;}
header .text-center h4,
header .text-center h2{width: 100%;color: #fff;font-family: Rounded;}
header .navbar-center{float: none;table-layout: fixed;
	margin: 0 auto;display: table !important;padding: 0%;
}
header .logo {position: relative;z-index: 123;padding: 10px;
	font: 18px verdana;color: #6DDB07;float: left;width:100%;
}
header .logo a{margin: auto;text-align: center}
header .logo img{margin: auto;width:75%;}
header nav {position: relative;width: 980px;margin: 0 auto;}
header #cssmenu,
header #cssmenu ul,
header #cssmenu ul li,
header #cssmenu ul li a,
header #cssmenu #head-mobile {list-style: none;line-height: 1;-webkit-box-sizing: border-box;
	position: relative;-moz-box-sizing: border-box;box-sizing: border-box;display: block;border: 0;
}
header #cssmenu:after,
header #cssmenu > ul:after {content: ".";display: block;
	clear: both;visibility: hidden;line-height: 0;height: 0
}
header #cssmenu #head-mobile {display: none}
header #cssmenu {background:transparent;}
header #cssmenu > ul > li {float: left}
header #cssmenu > ul > li > a {padding: 17px;font-size: 15px;letter-spacing: 1px;
	text-decoration: none;color:#fff;font-weight: lighter;
}
header #cssmenu > ul > li:hover > a,
header #cssmenu ul li.active a {color: #fff;}
header #cssmenu > ul > li:hover,
header #cssmenu ul li.active:hover,
header #cssmenu ul li.has-sub.active:hover {-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;transition: background .3s ease;border-bottom:1px solid #fff;
}
header #cssmenu > ul > li.has-sub > a {padding-right: 30px}
header #cssmenu > ul > li.has-sub > a:after {position: absolute;content: '';
	top: 22px;right: 11px;width: 8px;height: 2px;display: block;background:#ddd;
}
header #cssmenu > ul > li.has-sub > a:before {position: absolute;top: 19px;right: 14px;display: block;
	width: 2px;height: 8px;background: #ddd;transition: all .25s ease;
	content: '';-webkit-transition: all .25s ease;-ms-transition: all .25s ease;
}
header #cssmenu > ul > li.has-sub:hover > a:before {top: 23px;height: 0}
header #cssmenu ul ul {position: absolute;left: -9999px;padding: 0%}
header #cssmenu ul ul li {height: 0;-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;transition: all .25s ease;background:#60477d;
}
header #cssmenu li:hover > ul {left: auto}
header #cssmenu li:hover > ul > li {height: 35px}
header #cssmenu ul ul ul {margin-left:100%; top: 0}
header #cssmenu ul ul li a {border-bottom: 1px solid rgba(150, 150, 150, 0.15);width: 170px;
	font-size: 12px;text-decoration: none;color: #ddd;font-weight: 400;padding: 11px 15px;
}
header #cssmenu ul ul li:last-child > a,
header #cssmenu ul ul li.last-item > a {border-bottom: 0}
header #cssmenu ul ul li:hover > a,
header #cssmenu ul ul li a:hover {color: #fff}
header #cssmenu ul ul li.has-sub > a:after {position: absolute;right: 11px;
	height: 2px;display: block;background: #ddd;content: '';width: 8px;top: 16px;
}
header #cssmenu ul ul li.has-sub > a:before {position: absolute;top: 13px;transition: all .25s ease;
	display: block;width: 2px;height: 8px;background: #ddd;content: '';-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;right: 14px;
}
header #cssmenu ul ul > li.has-sub:hover > a:before {top: 17px;height: 0}
header #cssmenu ul ul li.has-sub:hover,
header #cssmenu ul li.has-sub ul li.has-sub ul li:hover {background:#60477d;}
header #cssmenu ul ul ul li.active a {border-left: 1px solid #333}
header #cssmenu > ul > li.has-sub > ul > li.active > a,
header #cssmenu > ul ul > li.has-sub > ul > li.active > a {border-top: 1px solid #333}
@media screen and (max-width:1000px) {
	header .logo {position: absolute;top: 0;left: 0;width: 100%;
		height: 46px;text-align: center;padding: 10px 0 0 0;float: none
	}
	header .logo2 {display: none}
	header nav {width: 100%;}
	header #cssmenu {width: 100%}
	header #cssmenu ul {width: 100%;display: none}
	header #cssmenu ul li {width: 100%;border-top: 1px solid #444}
	header #cssmenu ul li:hover {background: #363636;}
	header #cssmenu ul ul li,
	header #cssmenu li:hover > ul > li {height: auto}
	header #cssmenu ul li a,
	header #cssmenu ul ul li a {width: 100%;border-bottom: 0}
	header #cssmenu > ul > li {float: none}
	header #cssmenu ul ul li a {padding-left: 25px}
	header #cssmenu ul ul li {background: #333!important;}
	header #cssmenu ul ul li:hover {background: #363636!important}
	header #cssmenu ul ul ul li a {padding-left: 35px}
	header #cssmenu ul ul li a {color: #ddd;background: none}
	header #cssmenu ul ul li:hover > a,
	header #cssmenu ul ul li.active > a {color: #fff}
	header #cssmenu ul ul,
	header #cssmenu ul ul ul {position: relative;left: 0;width: 100%;margin: 0;text-align: left}
	header #cssmenu > ul > li.has-sub > a:after,
	header #cssmenu > ul > li.has-sub > a:before,
	header #cssmenu ul ul > li.has-sub > a:after,
	header #cssmenu ul ul > li.has-sub > a:before {display: none}
	header #cssmenu #head-mobile {display: block;color: #ddd;
		padding: 23px;font-size: 12px;font-weight: 700;
	}
	header .button {width: 55px;height: 46px;position: absolute;right: 0;top: 0;cursor: pointer;z-index: 12399994;}
	header .button:after {position: absolute;top: 22px;right: 20px;display: block;height: 4px;
		width: 20px;border-top: 2px solid #dddddd;border-bottom: 2px solid #dddddd;content: '';
	}
	header .button:before {-webkit-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;
		position: absolute;top: 16px;right: 20px;display: block;height: 2px;width: 20px;background: #ddd;content: ''
	}
	header .button.menu-opened:after {-webkit-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;
		top: 23px;border: 0;height: 2px;width: 19px;background: #fff;-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg)
	}
	header .button.menu-opened:before {top: 23px;background: #fff;width: 19px;-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg)
	}
	header #cssmenu .submenu-button {position: absolute;z-index: 99;right: 0;display: block;
		border-left: 1px solid #444;height: 46px;width: 46px;cursor: pointer;top: 0;
	}
	header #cssmenu .submenu-button.submenu-opened {background: #262626}
	header #cssmenu ul ul .submenu-button {height: 34px;width: 34px}
	header #cssmenu .submenu-button:after {position: absolute;top: 22px;right: 19px;
		height: 2px;display: block;background: #ddd;content: '';width: 8px;
	}
	header #cssmenu ul ul .submenu-button:after {top: 15px;right: 13px}
	header #cssmenu .submenu-button.submenu-opened:after {background: #fff}
	header #cssmenu .submenu-button:before {position: absolute;top: 19px;right: 22px;
		width: 2px;height: 8px;background: #ddd;content: '';display: block;
	}
	header #cssmenu ul ul .submenu-button:before {top: 12px;right: 16px}
	header #cssmenu .submenu-button.submenu-opened:before {display: none}
	header #cssmenu ul ul ul li.active a {border-left: none}
	header #cssmenu > ul > li.has-sub > ul > li.active > a,
	header #cssmenu > ul ul > li.has-sub > ul > li.active > a {border-top: none}
}
/*** end nav ***/
/*** Start Slider ***/

.slider .carousel {position: relative;height:auto;}
.slider .carousel-inner img {width: 100%; max-height:100%;}
.slider .carousel-caption {color:#fff;top:50%; bottom: auto; text-align:center;}
.slider .carousel-caption h1 { color:#fff;font-weight: lighter;}
.slider .carousel-caption h4{color: #aaa4a8;font-weight: lighter;}
.slider .flaticon{font-size: 50px;color: #01c8d7;}

/*** End Slider ***/
/*** Start introduction ***/

.introduction{position: absolute;width: 100%;z-index: 11;margin-top: -11.5%;}
.introduction .image{text-align: center}
.introduction .image{border-radius:50%;background: #fff;box-shadow:0px 0px 42px -10px #643b70}
.introduction img{width: 40%}
.introduction h2{color: #fff;text-align: center;font-family: Rounded;}
.introduction h5{color: rgb(123,8,84);text-align: center;margin-top: 15%;font-family: Rounded;}
.introduction .col-md{padding:0px 5px 0px 5px}

/*** End introduction ***/
/*** Start img ***/

.about{margin-top: 7%;}
.about .title{width: 100%;text-align: center;padding: 2% 0%;}
.about h2{color: #828280;margin-top: 1.5%;font-size: 2.15vw;margin: 0%;font-family: Rounded;}
.about h2 span{color:#861955;font-size: 2.75vw;}
.about img{width: 15%}

/*** End img ***/
/*** start research ***/

.research .title{width: 100%;color:#031d94;text-align: center}
.research .title h2{margin: 0%;}
.research .title span{color: #781146 !important}
.research .col-lg-4 img{width: 100%}
.research ul strong{color: #781146}
.research .col-lg-8 p{font-size:1.25rem;padding-left: 2%;line-height: 28px;}
.research .btn-success{background: #020e56;color: #fff;border-color: #020e56;width: 100%;
	font-size: 1.5rem;font-weight: bold;border-radius: 12px;margin-top: -7.5rem !important;
}
/* .research .btn-success:hover{background:#ff7bb4;color:#fff;transition: all 0.3s ease; box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);} */
.research .btn-dark{background: #98356e;color: #fff;border-color: #98356e;width: 100%;
	font-size: 1.5rem;font-weight: bold;border-radius: 12px;margin-top: -7.5rem !important;
}
/* .research .btn-dark:hover{background: #00c8d8;color: #fff;transition: all 0.3s ease; box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);} */
.research .button{padding:0% 2.25%;}
.research .green h4{line-height: 1.35;color:#7b9500}
.research .red h4{line-height: 1.35;color:#cc1c00}
.research .woolash .col-lg-12{padding:0% 5%;}
.research .red .flaticon{font-size: 23px;color: #cc1c00;line-height: 1.65;font-weight: bold;}
.research .green{background:#f4fbda; border-radius:20px;padding-top: 2% !important;}
.research .red{background:#fedada; border-radius:20px;padding-top: 2% !important;}
.research .col-lg-1 .flaticon-circle{color:#ff7bb4 }
.research .col-lg-4 .svg-inline--fa{width:12%;color: #861955}
.research li{display: inline}
.research .checked{color: #fdd7ec !important;}
.research .center .col-lg-6,
.research .center .col-lg-5,
.research .center .col-lg-2{padding: 0%}
.research .center ul{padding: 0%;margin-top: -2%}
.research .center p{font-weight:bold;color: #861955;font-size: 1vw}
.research .center .right p{color: #031d94}
.research .rgh p{font-size: 15px;line-height: 1.5;color:#6a6a6a}
.research .red h3{color:#cc1c00;text-align: center;font-weight: bold}
.research .green h3{color:#7b9500;text-align: center;font-weight: bold}

/*** end research ***/
/*** start team ***/

.team img{width: 100%}
.team{text-align: center}
.team .col-lg-7{padding-top:10%;color:#6a6a6a}
.team .col-lg-7 P{font-size: 1.25vw}

/*** team ***/
/*** start footer ***/

.footer{background: #020e56;}
.footer p{color: #fff}
.footer h6{color: #fff}
.footer ul{padding: 0%;margin-bottom: 3%}
.footer li{display: inline;padding: 2%}
.footer ul a{color:#fff;text-decoration: none}
.footer ul a:hover{text-decoration: none;}
.footer .flaticon{font-size: 20px;color: #fff}
.footer .bottom{padding: 2% 0%;}
.footer .bottom a{font-weight:lighter;color: #fff;text-decoration: none}

/*** end footer ***/

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: -moz-linear-gradient( 54deg, rgb(123,8,84) 0%, rgb(4,19,102) 100%);
    background-image: -webkit-linear-gradient( 54deg, rgb(123,8,84) 0%, rgb(4,19,102) 100%);
    background-image: -ms-linear-gradient( 54deg, rgb(123,8,84) 0%, rgb(4,19,102) 100%);
    opacity: .7;
}

/*** start submit ***/

.submit img{width: 100%}
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.submit .btn-primary {color: #fff;background-color: transparent;border-color: transparent;}
.submit .btn-primary.focus,
.submit .btn-primary:focus {box-shadow:none;}
.submit .btn-primary:hover{background: transparent;border-color:transparent }
.submit .text-center{text-align:center;}
.submit .banner-heading{font-family: 'Nanum Gothic', sans-serif;font-size: 75px;
	font-weight: 700;line-height: 100px;margin-bottom: 30px;color:#fff;
}
.submit .banner-sub-heading{font-family: 'Nanum Gothic', sans-serif;font-size: 30px;
	font-weight: 300;line-height: 30px;margin-bottom: 50px;color:#fff;
}
.submit .btn-warning{background-color:#eca439;}
.submit .btn-warning:hover{background-color:#f39305;}
.submit .mybtn{border-radius:0; height:30px;margin:10px auto;line-height:10px;}
.submit .form-control{color:#000;font-size:14px;
	font-weight:400;border-bottom:2px solid #98356e;
	border-top:0;border-left:0;border-right:0;
}
.submit .form-check-input{background-color:#fff !important;
	border-radius:50% !important;border:2px solid #f39305 !important;
}
.submit .modal-content{width:500px;margin:auto;border-radius: 15px}
.submit .modal-header { padding:0.7rem 1rem; border-bottom: 1px solid #e9ecef;
	border-radius:15px 15px 0px 0px;background-color:#98356e;
}
.submit .modal-title{font-size:16px;font-family: 'Nanum Gothic', sans-serif;
	text-transform:uppercase;color:#fff;text-align:center;
}
.submit .modal-body{background-image:url('http://snippetimg.meditialabs.com/bgs/bg1.jpg');
	background-position:top left;background-size:cover;width:100%;padding:1.5rem 3rem 3rem 3rem;
}
.submit body.modal-open .supreme-container{ -webkit-filter: blur(1px); -moz-filter: blur(1px);
	-o-filter: blur(1px);-ms-filter: blur(1px);filter: blur(1px);
}
.submit .text-intro{font-size:0.8em;color:#777;text-align:center;}
.submit .form-div{background-color:#fff;padding:2em 1.5em;box-shadow:2px 2px 2px 2px rgba(215,215,215,0.5);}
.submit form{border:0 !important;}
@media (max-width:500px){
	.submit .modal-content{width:330px;margin:auto;}
	.submit .banner-heading{font-size: 30px;line-height: 30px;margin-bottom: 20px;}
	.submit .banner-sub-heading{font-size: 10px;font-weight: 200;line-height: 10px;margin-bottom: 40px;}
}
@media (max-width:768px){
	.submit .banner-text{padding:150px 0 150px 0;}
	.submit .banner-sub-heading{font-size: 23px;font-weight: 200;line-height: 23px;margin-bottom: 40px;}
}
.submit .rating {float:left;margin: auto}
.submit .rating:not(:checked) > input {position:absolute;top:-9999px;clip:rect(0,0,0,0);}
.submit .rating:not(:checked) > label {float:right;width:1em;color:#ddd;
overflow:hidden;white-space:nowrap;cursor:pointer;font-size:200%;
}
.submit .rating:not(:checked) > label:before {content: '★ ';}
.submit .rating > input:checked ~ label {color: gold;}
.submit .rating:not(:checked) > label:hover,
.submit .rating:not(:checked) > label:hover ~ label {color: gold;}
.submit .rating > input:checked + label:hover,
.submit .rating > input:checked + label:hover ~ label,
.submit .rating > input:checked ~ label:hover,
.submit .rating > input:checked ~ label:hover ~ label,
.submit .rating > label:hover ~ input:checked ~ label {color: gold;}
.submit .rating > label:active {position:relative;top:2px;left:2px;}
.submit .pull-right{background: #020e56;width: 100%}
.submit .pull-right:hover{background: #98356e;transition: all .6s ease-in-out}
/* .submit .text{position: absolute;margin-top: 5.5%;text-align: center;width: 93%;color: #fff;} */

/*** end submit ***/

.contact .fadeIn {animation-duration: 3s;}
.contact .header-title {text-align: center;color: #98356e;margin-left: 44.1%;}
.contact #parent {padding: 1% 20%;}
.contact .form-control {border-radius: 0px;border: 1px solid #fff;border-bottom: 1px solid #98356e;}
.contact .textarea-contact {resize: none;}
.card-inner{margin-left: 4rem;}
.form-control:focus{box-shadow:none;}
.contact .btn-send {border-radius: 10px;border: 1px solid #98356e;
	background: #98356e;color: #fff;padding: 1% 5%;
}

/*** start product-details ***/

.product-details .comment-box {margin-top: 30px !important;padding: 0% 3%;}
.product-details .comment-box img { width: 50px;height: 50px;border-radius: 50%}
.product-details .comment-box .media-left {padding-right: 10px;width: 65px;}
.product-details .comment-box .media-body p {border: 1px solid #ddd;padding: 10px;}
.product-details .comment-box .media-body .media p {margin-bottom: 0;}
.product-details .Collapse .panel-title .btn{width: 100%;background: #98356e;border-color: #98356e;padding:0.5% 0%;font-size: 1.5vw;}
.product-details .form-area .btn{margin-top: 25px;width:100%;padding:0.75% 0%;background:#020e56;}
.product-details .form-area .btn:hover{background:#98356e;border-color: #98356e;transition: all .6s ease-in-out}
.product-details .comment-box .media-heading {background-color:#020e56;margin-bottom: -1px;
	border: 1px solid #ddd; padding: 7px 10px; position: relative;color: #fff;
}
.product-details .comment-box .media-heading:before {content: "";width: 12px;height: 12px;background-color:#020e56;
    border: 1px solid #ddd;border-width: 1px 0 0 1px;position: absolute;top: 10px;left: -6px;
	-webkit-transform: rotate(-45deg);transform: rotate(-45deg);
}

/*** end product-details ***/
/*** start about-section  ***/

.paddingTB60 {padding:60px 0px 60px 0px;}
.gray-bg {background: #fff !important;}
.about-section .about-title h1 {color: #020e56; font-size:45px;font-weight:600;}
.about-section .about-title span {color: #98356e; font-size:45px;font-weight:700;}
.about-section .about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-section .about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-section .about-paddingB {padding-bottom: 12px;}
.about-section .about-icons {margin:48px 0px 48px 0px ;}
.about-section .about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-section .about-icons li {margin:0px;padding:0;display:inline-block;}
.about-section #social-fb:hover {color: #3B5998;transition:all .001s;}
.about-section #social-tw:hover {color: #4099FF;transition:all .001s;}
.about-section #social-gp:hover {color: #d34836;transition:all .001s;}
.about-section #social-em:hover {color: #f39c12;transition:all .001s;}

/*** end about-section  ***/
/*** start Responsive  ***/

@media (max-width:768px) {
	header .logo img{width: 25%;margin-right: -46%;float: right;}
	header .text-center h4,
	header .text-center h2{font-size: 10px;text-align: left;
		margin-left: 30%;
		margin-top: 1%;}
	header .button{top:-40px}
	header #cssmenu ul{display: none !important;}
    .slider .carousel-caption h1{font-size: 3vw;}
    .slider .carousel-caption h4{font-size: 2vw;}
    .slider .carousel-caption{top:40%}
	.slider .flaticon{font-size:20px}
	.slider .overlay h1{font-size: 13px}
	.introduction{position: unset;margin: 0%;}
	.introduction h2{color: #861955}
	.about img{width: 50% !important;}
	.about h2{font-size: 3.15vw;}
	.about h2 span{font-size: 3.75vw;}
	.team .col-lg-7{padding-top: 0%}
	.team .col-lg-7 P {font-size: 3.25vw;}
    .img img{width: 50% !important}
	.img h1{font-size: 1rem}
	.research .title h2 span{font-size:8vw !important}
	.research .title h1{font-size: 7vw !important}
	.research .cen .col-xs-5{width: 41%}
	.research .cen .col-xs-2{width: 12%}
	.research .col-lg-4{padding: 0%}
	.research .center p{font-size: 3vw}
	.research .center ul{margin-top: -10%;}
	.research .center .col-lg-6{width: 50%}
	.research .rgh p{margin-top: -30%;}
	.research .btn-dark{margin-top: 0% !important;}
	.research .btn-success{margin-top: 5% !important}
	.research .woolash h4{font-size: 4vw !important}
	.research .green h3{font-size: 5vw;}
	.research .red h3{font-size: 5vw;}
	.research .red{margin-top: 10%;}
	.submit img{width: 100% !important}
	.footer .bottom h5{font-size: 3vw !important}
	.footer ul a {color: #fff;text-decoration: none;font-size: 4vw;}
	.footer p {font-size: 4vw;line-height: 2;}
	.team .button button{font-size: 0.75rem; width: 50%;}
	.pro-det img{width: 100% !important}
	.pro-det .overlay{height:12%!important;}
	.product-details .col-lg-12{padding: 0%} 
	.product-details .col-lg-12 h3{font-size: 5vw !important} 
	.product-details .Collapse .btn-primary{padding: 3% !important;font-size: 5vw !important;}
	.contact .header-title{margin-left:24%;font-size: 5vw}
	.contact #parent{padding:0% !important}
	.paddingTB60{padding: 0% !important}
	.about-section .about-title h1{font-size: 6vw}
	.about-section .about-title span{font-size: 8.5vw;}
	.about-section .about-title h3{font-size: 5vw;}
}

/*** start Responsive  ***/