	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/12/2018 07:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
margin-left: 10px;
}

.flaticon-close:before { content: "\f100"; }
.flaticon-right-arrow:before { content: "\f101"; }
.flaticon-left-arrow:before { content: "\f102"; }
.flaticon-circle:before { content: "\f103"; }
.flaticon-tick:before { content: "\f104"; }
.flaticon-placeholder:before { content: "\f105"; }
.flaticon-smartphone:before { content: "\f106"; }
.flaticon-envelope:before { content: "\f107"; }
.flaticon-star:before { content: "\f108"; }
.flaticon-play-button:before { content: "\f109"; }
.flaticon-like:before { content: "\f10a"; }
.flaticon-share:before { content: "\f10b"; }
.flaticon-back-arrow:before { content: "\f10c"; }