	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/12/2018 07:47
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.woolash .flaticon-tick::before{}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}

.flaticon-next:before { content: "\f100"; }
.flaticon-back:before { content: "\f101"; }
.flaticon-black-circle:before { content: "\f102"; }
.flaticon-tick:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-smartphone:before { content: "\f105"; }
.flaticon-envelope:before { content: "\f106"; }
.flaticon-star:before { content: "\f107"; }
.flaticon-play-button:before { content: "\f108"; }
.flaticon-heart:before { content: "\f109"; }
.flaticon-share:before { content: "\f10a"; }